/* Local Waybar overrides for ml4w-glass/default */
@import "./style.css";

.modules-left,
.modules-right,
.modules-center {
    margin: 0 6px 0 0;
    box-shadow: 0 0 6 @shadow;
    background-color: @surface;
    background: radial-gradient(
            circle at 50% 250%,
            alpha(#2c385e, 0.8),
            alpha(@surface, 0.9)
        )
        padding-box,
        linear-gradient(@primary, @on_primary) border-box;
}

.modules-center {
    padding: 6px 0;
}

.modules-right {
    padding: 6px 0;
}

#workspaces {
    padding: 4px 3px;
    min-width: 0;
}

#workspaces button {
    padding: 0 1px;
    margin: 1px 2px;
    min-width: 10px;
    border-radius: 5px;
}

#workspaces button:hover {
    background: @selection;
}

#workspaces button.active {
    background: @primary;
    color: @on_primary;
    border: 1px solid @primary;
    box-shadow: none;
    background-image: none;
    min-width: 10px;
    padding: 0 1px;
    margin: 1px 2px;
    border-radius: 6px;
}

.modules-right label.module {
    margin-left: 0;
    margin-right: 0;
    padding: 6px 1px;
    min-width: 16px;
    font-size: 13px;
}

#clock {
    padding-left: 0;
    padding-right: 0;
    min-width: 0;
    font-size: 12px;
    margin-left: 0;
    margin-right: 0;
}

#tray {
    padding: 6px 1px;
}

#custom-ml4w-welcome {
    padding-left: 0;
    padding-right: 6px;
    min-width: 10px;
    margin-left: 0;
    margin-right: 0;
    background-size: 60%;
}
