/* Local Waybar overrides for ml4w-glass/default */
@import "./style.css";

.modules-left,
.modules-right,
.modules-center {
    margin: 2px;
    box-shadow: 0 0 6 @shadow;
    background-color: #2d3241;
    background: radial-gradient(
            circle at 50% 250%,
            alpha(darker(#2d3241), 0.9),
            alpha(#2d3241, 0.9)
        )
        padding-box,
        linear-gradient(@primary, @on_primary) border-box;
}

#workspaces {
    padding: 5px 3px 5px 0;
    min-width: 0;
}

#workspaces button:hover {
    background: #363d4a;
}

#workspaces button.active {
    background: @primary;
    color: @on_primary;
    border: 1px solid @primary;
    box-shadow: none;
    background-image: none;
}
