source = ~/.config/hypr/conf/workspaces/default.conf
{{ if or (eq .chezmoi.hostname "arch-lenovo") (eq .chezmoi.hostname "ml-server") (eq .chezmoi.hostname "ml-server-1") -}}
source = ~/.config/hypr/conf/workspaces/left_desk.conf
{{ end }}
